<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<test name="Test">
		<parameter name="name" value="Bharathan"></parameter>
		<parameter name="password" value="Bharathan@111"></parameter>

		<classes>
			<class name="org.testng.practice.ParaPractice" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
